@mixin prefix($property, $value) {
  #{$property}: $value;
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #91d1d3;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#save-message {
  background-color: #484848;
  padding: 20px 20px;
  width: fit-content;
  position: fixed;
  left: 0;
  top: -110%;
  @include prefix(transition, top .5s);
  z-index: 100;
}

#save-message.active {
  top: 0;
}

#save-message p {
  color: #fff;
}

.paper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 768px) {
  .paper-wrapper {
    margin-top: 30px;
  }
}

.paper {
  width: 670px;
  height: 500px;
  background-color: #fafafa;
  @include prefix(border-radius, 10px);
  position: relative;
  display: flex;
}

@media (max-width: 768px) {
  .paper {
    width: 100%;
  }
}

.paper .dots {
  padding: 10px;
}

.paper .dots .dot {
  width: 12px;
  height: 12px;
  @include prefix(border-radius, 50%);
  background-color: #575450;
}

.paper .dots .dot:not(:last-child) {
  margin-bottom: 15.5px;
}

.paper .red-line {
  height: 100%;
  width: 3px;
  background-color: #d34147;
  position: absolute;
  left: 49px;
  top: 0;
}

.paper .hide-scroll-y {
  background-color: #fafafa;
  height: 100%;
  width: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  z-index: 1;
}

.paper .content {
  width: 100%;
  margin-top: 26px;
  margin-left: 20px;
  overflow-y: scroll;
}

.paper .content input {
  outline: none;
  border: none;
  padding: 8px 10px 1px;
  width: 100%;
  border-bottom: solid 3px #93d2d4;
  background-color: #fafafa;
  font-size: 1.2rem;
  position: relative;
  z-index: 10;
}

.paper-wrapper .buttons {
  margin-top: 40px;
}

.paper-wrapper .buttons button {
  outline: none;
  border: none;
  padding: 10px 40px;
  font-size: .9rem;
  font-weight: bold;
  @include prefix(border-radius, 6px);
  color: #fff;
  cursor: pointer;
  user-select: none;
  @include prefix(transition, opacity .3s);
}

.paper-wrapper .buttons button:hover {
  opacity: .8;
}

.paper-wrapper .buttons button:active {
  @include prefix(transform, scale(0.99))
}

#save-button {
  margin-right: 10px;
  background-color: #1d85e6;
}

#clear-button {
  background-color: rgb(232, 38, 38);
}